services:
	scheduler:
		class: vBuilder\Scheduler\Scheduler
		arguments: [ '%appDir%/bootstrap.php', @scheduler.jobStorage ]

	scheduler.jobStorage:
		class: vBuilder\Scheduler\JobStorage
		arguments: [ '%tempDir%/jobs' ]